@font-face {
  font-family: "FX-led";
  src: url(/fonts/FX-Led.ttf) format("truetype"),
      url(/fonts/FX-Led.woff2) format("woff2"),
       url(/fonts/FX-Led.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'FX-led', sans-serif !important;
}
